:root {  
  --oui-font-family: 'Fira Sans', sans-serif;  
  --oui-font-size-base: 14.5px;  

  /* colors */  
  --oui-color-primary: 180 100 255;  
  --oui-color-primary-light: 220 180 255;  
  --oui-color-primary-darken: 140 60 220;  
  --oui-color-primary-contrast: 255 255 255;  

  --oui-color-link: 200 120 255;  
  --oui-color-link-light: 220 180 255;  

  --oui-color-secondary: 255 255 255;  
  --oui-color-tertiary: 200 220 255;  
  --oui-color-quaternary: 200 220 255;  

  --oui-color-danger: 255 80 120;  
  --oui-color-danger-light: 255 140 160;  
  --oui-color-danger-darken: 255 40 100;  
  --oui-color-danger-contrast: 255 255 255;  

  --oui-color-success: 50 255 200;  
  --oui-color-success-light: 120 255 220;  
  --oui-color-success-darken: 0 200 150;  
  --oui-color-success-contrast: 255 255 255;  

  --oui-color-warning: 255 220 80;  
  --oui-color-warning-light: 255 230 120;  
  --oui-color-warning-darken: 255 180 0;  
  --oui-color-warning-contrast: 255 255 255;  

  --oui-color-fill: 30 20 50;  
  --oui-color-fill-active: 40 30 60;  

  --oui-color-base-1: 90 80 140;  
  --oui-color-base-2: 80 70 130;  
  --oui-color-base-3: 60 50 90;  
  --oui-color-base-4: 50 40 80;  
  --oui-color-base-5: 45 35 75;  
  --oui-color-base-6: 40 30 65;  
  --oui-color-base-7: 50 40 60;  
  --oui-color-base-8: 30 25 50;  
  --oui-color-base-9: 20 15 40;  
  --oui-color-base-10: 15 10 20;  

  --oui-color-base-foreground: 255 255 255;  
  --oui-color-line: 255 255 255;  

  --oui-color-trading-loss: 255 80 120;  
  --oui-color-trading-loss-contrast: 255 255 255;  
  --oui-color-trading-profit: 50 255 200;  
  --oui-color-trading-profit-contrast: 255 255 255;  

  /* gradients */  
  --oui-gradient-primary-start: 150 200 255;  
  --oui-gradient-primary-end: 180 100 255;  

  --oui-gradient-secondary-start: 80 40 120;  
  --oui-gradient-secondary-end: 180 100 255;  

  --oui-gradient-success-start: 0 150 200;  
  --oui-gradient-success-end: 50 255 200;  

  --oui-gradient-danger-start: 150 30 70;  
  --oui-gradient-danger-end: 255 80 120;  

  --oui-gradient-brand-start: 150 200 255;  
  --oui-gradient-brand-end: 180 100 255;  
  --oui-gradient-brand-stop-start: 6.62%;  
  --oui-gradient-brand-stop-end: 86.5%;  
  --oui-gradient-brand-angle: 17.44deg;  

  --oui-gradient-warning-start: 255 150 0;  
  --oui-gradient-warning-end: 255 220 80;  

  --oui-gradient-neutral-start: 30 30 50;  
  --oui-gradient-neutral-end: 40 40 60;  

  /* rounded */  
  --oui-rounded-sm: 2px;  
  --oui-rounded: 4px;  
  --oui-rounded-md: 6px;  
  --oui-rounded-lg: 8px;  
  --oui-rounded-xl: 12px;  
  --oui-rounded-2xl: 16px;  
  --oui-rounded-full: 9999px;  

  /* spacing */  
  --oui-spacing-xs: 20rem;  
  --oui-spacing-sm: 22.5rem;  
  --oui-spacing-md: 26.25rem;  
  --oui-spacing-lg: 30rem;  
  --oui-spacing-xl: 33.75rem;  
}  

html, body {  
  font-family: 'Fira Sans', sans-serif !important;  
  font-size: 14.5px !important;  
}  

.orderly-app-container,  
.orderly-app-container *,  
.orderly-app-container *::before,  
.orderly-app-container *::after {  
  font-family: 'Fira Sans', sans-serif !important;  
}